<h1>Editing categories expense</h1>

<%= render "form", categories_expense: @categories_expense %>

<br>

<div>
  <%= link_to "Show this categories expense", @categories_expense %> |
  <%= link_to "Back to categories expenses", categories_expenses_path %>
</div>
