<p style="color: green"><%= notice %></p>

<h1 class="text-3xl font-bold underline">Budgetty</h1>

<%# Linkt to login %>
<%= link_to 'Login', new_user_session_path %>
<%= link_to 'Sign up', new_user_registration_path %>
<%= link_to 'Categories', categories_path %>



